
/* RESECT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT */

.top-section{
    background-color: #ffffff;
}




.side-bar{
    height: calc(100vh - 100px);
    width: 100px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}




.left-section{
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    
}

.top-left{
    width: 100%;
    background-color: #1b72e8;
}

.content-main-top-left{
    font-size: 20px;
    color: white;
}






.logo-mobile{
    width: 50px;
}

.options{
    font-size: 11px;
    padding: 4px;
    background-color:#00008b63;
    border-radius: 12px;
}

.plus{
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}












/* MEDIA QUERY */

@media screen  and (min-width : 578px) {
    .side-bar{
        width: 250px;
    }

    .left-section{
        width: calc(100vw - 250px);
    }
}