*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
}

.side-bar{
    width: 70px;
    height: 100vh;
    background-color: black;
}

.section-main{
    width: calc(100% - 70px);
    height: 100vh;
    background-color: blue;
}

.content-main{
    height: 200px;
    background-color: red;
    border: 1px solid black;
}



